<!-- Product Modal -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">벨라 루즈핏 브이넥 골지니트</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <img src="https://awab.co.kr/web/product/medium/20191126/9e12e27057acd5713bb290a41d9f80dd.jpg" class="img-fluid rounded mx-auto d-block " alt="Cinque Terre">
                <hr>
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th>판매가</th>
                            <td>52,000</td>
                        </tr>
                        <tr>
                            <th>재고</th>
                            <td>40</td>
                        </tr>
                        <tr>
                            <th>색상</th>
                            <td>브라운, 네이비, 블랙</td>
                        </tr>
                        <tr>
                            <th>사이즈</th>
                            <td>FREE</td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>