<!-- user modal-->
<div class="modal" id="myModal2">
    <div class="modal-lg modal-dialog">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">조영탁</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <table class="table table-borderless">
                    <tbody>
                        <tr>
                            <th>ID</th>
                            <td>yt0818</td>
                        </tr>
                        <tr>
                            <th>고객등급</th>
                            <td>골드</td>
                        </tr>
                        <tr>
                            <th>구매금액 / 건수</th>
                            <td>421,000 / 25</td>
                        </tr>
                        <tr>
                            <th>전화번호</th>
                            <td>010-4730-0893</td>
                        </tr>
                        <tr>
                            <th>주소</th>
                            <td>서울특별시 구로구 디지털로33길 12 우림이비지센터 2차 1205호</td>
                        </tr>
                    </tbody>
                </table>

                <table class="table">
                   <h4>주문내역</h4>
                    <thead>
                        <tr>
                            <th>주문번호</th>
                            <th>주문일</th>
                            <th>쇼핑몰</th>
                            <th>상품명</th>
                            <th>금액</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr class="table-warning">
                            <td>10434</td>
                            <td>2021-1-22</td>
                            <td>옥션</td>
                            <td>롤 니트원피스 롱베스트</td>
                            <td>150,000</td>
                        </tr>
                        <tr class="table-danger">
                            <td>5735</td>
                            <td>2021-01-11</td>
                            <td>옥션</td>
                            <td>스트라이프 꼬임 맨투맨</td>
                            <td>94,000</td>
                        </tr>
                        <tr class="table-info">
                            <td>7905</td>
                            <td>2020-12-01</td>
                            <td>옥션</td>
                            <td>벨라 루즈핏 브이넥 골지니트</td>
                            <td>99,120</td>
                        </tr>
                        <tr class="table-info">
                            <td>5350</td>
                            <td>2020-06-23</td>
                            <td>G마켓</td>
                            <td>롤 니트원피스 롱베스트</td>
                            <td>30,480</td>
                        </tr>
                        <tr class="table-success">
                            <td>4405</td>
                            <td>2020-05-22</td>
                            <td>디그램</td>
                            <td>스트라이프 꼬임 맨투맨</td>
                            <td>126,160</td>
                        </tr>
                        <tr class="table-success">
                            <td>1341</td>
                            <td>2020-04-31</td>
                            <td>11번가</td>
                            <td>벨라 루즈핏 브이넥 골지니트</td>
                            <td>64,610</td>
                        </tr>
                    </tbody>
                </table>

            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

        </div>
    </div>
</div>